* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
  font-family: 'Georgia', serif;
  background: url('Backg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f9e8d2;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: rgba(5, 5, 5, 0.8);
  padding: 20px;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 40px 0;
  cursor: pointer;
  color: #fff0d9;
 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font: size 14px; ;
}

.content {
  flex: 1;
  padding: 40px;
  background-color: rgba(30, 15, 0, 0.7);
}
.customer-faqs {
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #f8cfa0;
  background-color: rgba(255, 255, 255, 0.05);
 margin: auto;
}

.faqs-title {
  text-align: center;
  font-size: 30px;
  color: #ca935b;
  margin-bottom: 30px;
  font-weight: bold;
}

.faqs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.faqs-card {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid #f8cfa0;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.faqs-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.faqs-text {
  font-style: italic;
  color: #fff9ec;
  font-size: 16px;
  margin-bottom: 12px;
}

.faqs-author {
  text-align: right;
  font-weight: bold;
  color: #ffdfba;
  font-size: 14px;
}
